



<div ng-controller="ModalCtrl" class="container">
  <div>
    <h3>NEW QUESTION</h3>
    <button ng-click="toggleModal()" class="btn btn-default">Open me!</button>
    <modal title="Question Form" visible="showModal">
      <form name="form" ng-submit="toggleModal()">
        <div class="form-group">
          <label for="question">What is your question?</label>
          <input class="form-control" ng-model="ses.sessionQ" type='text' size ="225">
        </div>
        <button type="text" type="submit" class="btn btn-default">Submit</button>
        <p> {{sessionQ}}</p>
      </form>
    </modal>
  </div>

<p ng-show="ses.sessionQ"> {{ses.sessionQ}} </p>

  </div>
 





