



<div ng-controller="ModalCtrl" class="container">
  <div>
    <h3>NEW QUESTION</h3>
    <button ng-click="toggleModal()" class="btn btn-default">Open me!</button>
    <modal title="Question Form" visible="showModal">
      <form name="form" ng-submit="toggleModal()">
        <div class="form-group">
          <label for="question">What is your question?</label>
          <input class="form-control" ng-model="ses.sessionQ" type='text' size ="225">
        </div>
        <button type="text" type="submit" ng-click='addSessionQ()' class="btn btn-default">Submit</button>
        <p> {{sessionQ}}</p>
      </form>
    </modal>
  </div>

  <div ng-show="ses.sessionQ"> {{ses.sessionQ}} </div>
</div>

<!--   <div ng-repeat='question in ses.sessionQ' class="answer-page-item">
    <div ng-show="ses.sessionQ"> {{ses.question}}</div>
  </div>
</div>

 <div ng-show="ses.sessionQ"> {{ses.question}}</div>
  </div> -->




